-r ../site/local.in
-r ../rasa_actions/requirements.in

# Code quality
# ------------------------------------------------------------------------------
pre-commit==3.6.0  # https://github.com/pre-commit/pre-commit
pylint==3.0.3  # https://github.com/PyCQA/pylint
pylint-django==2.5.5  # https://github.com/PyCQA/pylint-django
django-stubs==4.2.7  # https://github.com/typeddjango/django-stubs/

# Rasa
# ------------------------------------------------------------------------------
rasa-sdk==3.7.0  # https://github.com/RasaHQ/rasa-sdk

# Development Tools
# ------------------------------------------------------------------------------
pip-tools==7.3.0  # https://github.com/jazzband/pip-tools
