-r ../site/local.in
-r ../rasa_actions/requirements.in

# Code quality
# ------------------------------------------------------------------------------
pre-commit==3.2.1  # https://github.com/pre-commit/pre-commit
pylint==2.17.1  # https://github.com/PyCQA/pylint
pylint-django==2.5.3  # https://github.com/PyCQA/pylint-django

# Rasa
# ------------------------------------------------------------------------------
rasa-sdk==3.5.1  # https://github.com/RasaHQ/rasa-sdk
