body {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  color: #fff;
  border-radius: 25px !important;
}

.pokemon-image {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.ability-list {
  list-style-type: none;
  padding-left: 0;
}

.stat-bar {
  height: 20px;
  background-color: #444;
  margin-bottom: 10px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.stat-bar .progress {
  height: 100%;
  position: relative;
}

.stat-bar .progress .progress-bar {
  height: 100%;
  background-color: #54ca45;
  border-radius: 10px;
}

.stat-label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 12px;
}

.navigation-arrows {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.arrow-link {
  color: white;
  font-size: 40px;
  text-decoration: none;
}

.arrow-link:hover {
  color: black;
  text-decoration: none;
}
