{% load static django_htmx %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <title>{% block title %}PokeSite{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />

    {% if DEBUG %}
      <script src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.js" defer></script>
      <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/debug.js" defer></script>
      {% django_htmx_script %}
    {% else %}
      <script src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.min.js" defer></script>
    {% endif %}

    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              "pokemon-yellow": "#ffcc00",
              "pokemon-bug": {
                light: "#ecf3df",
                DEFAULT: "#94bc4a"
              },
              "pokemon-dark": {
                light: "#cfccd0",
                DEFAULT: "#736c75"
              },
              "pokemon-dragon": {
                light: "#d9ddea",
                DEFAULT: "#6a7baf"
              },
              "pokemon-electric": {
                light: "#f8f0c8",
                DEFAULT: "#e5c531"
              },
              "pokemon-fairy": {
                light: "#fcf5fa",
                DEFAULT: "#e397d1"
              },
              "pokemon-fire": {
                light: "#fbe3d5",
                DEFAULT: "#ea7a3c"
              },
              "pokemon-grass": {
                light: "#e7f5e3",
                DEFAULT: "#71c558"
              },
              "pokemon-steel": {
                light: "#e5eaed",
                DEFAULT: "#89a1b0"
              },
              "pokemon-water": {
                light: "#e4effb",
                DEFAULT: "#539ae2"
              },
              "pokemon-psychic": {
                light: "#fdf1f6",
                DEFAULT: "#e5709b"
              },
              "pokemon-ground": {
                light: "#f6eee0",
                DEFAULT: "#cc9f4f"
              },
              "pokemon-ice": {
                light: "#e6f6f7",
                DEFAULT: "#70cbd4"
              },
              "pokemon-flying": {
                light: "#e9f0fa",
                DEFAULT: "#7da6de"
              },
              "pokemon-ghost": {
                light: "#f5f3f9",
                DEFAULT: "#846ab6"
              },
              "pokemon-normal": {
                light: "#ecedea",
                DEFAULT: "#aab09f"
              },
              "pokemon-poison": {
                light: "#f3e7f3",
                DEFAULT: "#b468b7"
              },
              "pokemon-rock": {
                light: "#efecdf",
                DEFAULT: "#b2a061"
              },
              "pokemon-fighting": {
                light: "#f8eae7",
                DEFAULT: "#cb5f48"
              },
              "pokemon-shadow": {
                light: "#f0edf5",
                DEFAULT: "#7b62a3"
              },
              "pokemon-unknown": {
                light: "#f4f4f4",
                DEFAULT: "#757575"
              },
            },
          },
          container: {
            center: true,
          },
        },
      };
    </script>

    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'pokedex' %}">PokeSite</a>

      <div class="container md:max-w-5xl p-4" id="content">
        {% block content %}
        {% endblock content %}
      </div>

      <footer class="footer text-center pt-4 pb-2">
        © 2023 PokeSite. All rights reserved.
      </footer>

      <script>
        !(function() {
          let e = document.createElement("script"),
              t = document.head || document.getElementsByTagName("head")[0];
          (e.src = "{% static 'js/chatbot_widget.js' %}"),
          (e.async = !0),
          (e.onload = () => {
            window.ChatbotWidget.default({
              rasaServerUrl: "http://localhost:5005/webhooks/rest/webhook",
              userId: "",
              initialPayload: "/greet",
              metadata: {},
              botAvatar: "{% static 'images/bot-logo.png' %}",
              widgetColor: "#ffcc00",
              textColor: "#375aa7",
              userMsgBackgroundColor: "#e1d7ff",
              botTitle: "Poke Bot",
              botSubTitle: "",
              botMsgBackgroundColor: "#f3f4f6",
              botResponseDelay: "",
              chatHeaderCss: {
                textColor: "#375aa7",
                backgroundColor: "#ffcc00",
                enableBotAvatarBorder: true,
              },
              chatHeaderTextColor: "#375aa7",
              botMsgColor: "#4b5563",
              userMsgColor: "#375aa7",
              embedded: false,
              buttonsCss: {
                color: "#375aa7",
                backgroundColor: "#e1d7ff",
                borderColor: "#4b5563",
                borderWidth: "0px",
                borderRadius: "999px",
                hoverBackgroundColor: "white",
                hoverColor: "#4b5563",
                hoverborderWidth: "1px",
                enableHover: false,
              },
            });
          }),
          t.insertBefore(e, t.firstChild);
        })();
      </script>
      {% block scripts %}
      {% endblock scripts %}
    </body>
  </html>
