{% extends "base.html" %}
{% load static partials slippers %}

{% block title %}Pokédex{% endblock title %}

{% block content %}
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    {% partial pokemon-list %}
  </div>

  {% comment %} Fallback pagination for users without JS {% endcomment %}
  <noscript>
    {% pagination page_obj=page_obj paginator=paginator %}
  </noscript>
{% endblock content %}

{% partialdef pokemon-list %}
  {% for pokemon in pokemon_list %}
    {% pokemon_card pokemon=pokemon last_card=forloop.last next_page_number=page_obj.next_page_number %}
  {% endfor %}
{% endpartialdef %}
