{% extends 'base.html' %}
{% load static %}

{% block title %}Error - PokeSite{% endblock title %}

{% block content %}
<div class="container error-container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 text-center">
      <h2>Oops! Something went wrong.</h2>
      <p>We're sorry, but we couldn't retrieve the data from the Poke API.</p>
      <p>Please try again later or contact support for assistance.</p>
    </div>
  </div>
</div>
{% endblock content %}